.projects-page {
  padding: 30px 0;
  
  .projects-columns {
    margin-top: 50px;
    margin-bottom: 50px;
    &:nth-child(odd) {
      margin-left: 0;
    }
  }
  
  p {
    width: 80%;
    margin: 1rem auto;
  }
  
}